
.input-group {
  margin-bottom: 10px;
}
.make-comment-card .input-group textarea{
    width: 100%;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    max-height: 150px;
    
}
.make-comment-card .button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.make-comment-card .button-group .submit-button {
    background-color: green;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;    
}

.make-comment-card .button-group .cancel-button{
    background-color: red;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}