.post-card {
	background: white;
	margin: 24px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 800px;
	/* height: 600px;  */
	display: flex;
	flex-direction: column;
}
.post-card-profile-page {
	background: white;
	margin: 24px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 800px;
	display: flex;
	flex-direction: column;
}
.post-header {
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 32px;
}

.username {
	font-weight: 500;
	color: #000;
	text-decoration: none;
	font-size: 24px;
	display: inline-block;
	width: fit-content;
}

.post-date {
	color: #666;
	font-size: 18px;
	text-align: right;
	margin-right: 20px;
}

.post-card img {
	max-height: 400px;
	width: 80%; /* Fixed width for the image */
	/* max-width: 800px; Fixed max-width for the image */
	object-fit: cover;
	margin: 0 auto 10px auto;
	display: block;
}

.post-content {
	flex-grow: 1;
	overflow-y: auto; /* Scroll if content is too long */
	margin: 20px 0 10px 0;
	max-height: 400px;
	padding: 6px;
}

.post-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
}

.post-footer button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 8px;
	font-size: 16px;
}

.post-footer button:focus {
	outline: none;
}

.post-edit-delete {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
	color: #333; /* color for headings */
	margin-top: 20px;
	margin-bottom: 10px;
}

.post-content p {
	line-height: 1.6;
}

.post-content a {
	color: #0066cc; /* link color */
	text-decoration: underline;
}

.post-content ul,
.post-content ol {
	padding-left: 20px; /* list indentation */
}

.post-content blockquote {
	border-left: 4px solid #ccc; /* blockquote style */
	padding-left: 16px;
	color: #666;
	margin-left: 0;
	margin-right: 0;
}

.new-comment-card {
	margin: 24px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 700px; /* Fixed width */
	background-color: lightgray;
}
