.new-post-page {
	padding: 40px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	overflow: auto;
}

/* media queries for responsiveness */
@media (max-width: 1024px) {
	.new-post-page {
		padding: 20px;
	}
}
